/*General*/
:root {
  --colorShadowBlack: 0 2px 8px rgba(0, 0, 0, 0.6);
  --colorShadowWhite: 0 2px 8px rgba(255, 255, 255, 0.6);
  --colorFontWhite: #ffffff;
  --colorBackGround: lightblue;
  --font: "Montserrat", sans-serif;
}
a {
  color: var(--colorFontWhite);
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  text-shadow: var(--colorShadowBlack);
  margin-top: 150px;
}
.logo {
  height: 150px;
}
.whatsapp {
  height: 50px;
  margin: 50px;
}
.contact {
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 35px;
}
.contact img {
  object-fit: contain;
  display: block;
  max-width: 80px;
  max-height: 80px;
}
header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: var(--colorBackGround);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*Letras*/
  font-family: var(--font);
  font-size: 20px;
  color: var(--colorFontWhite);
  font-weight: 700;
  text-shadow: var(--colorShadowBlack);
}
.buttonContainer {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*Animacion de las imagenes*/
#slider {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#slider div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}
#slider div img {
  width: 100%;
  height: 800px;
}
#slider div.active {
  opacity: 1;
  z-index: 1;
}

#slider:active div {
  transition: none;
}
/*Textos de las imagenes*/

.bloque h1,
.bloque p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -70%;
  font-family: var(--font);
  text-shadow: var(--colorShadowWhite);
}
.bloque h1 {
  font-size: 70px;
  margin: 0;
}
.bloque p {
  font-size: 40px;
  margin: 0;
}
/*Catalogo*/
.catalogo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorBackGround);
  font-family: var(--font);
  color: var(--colorFontWhite);
  text-shadow: var(--colorShadowBlack);
  height: 200px;
  margin: 0;
  padding: 0;
  top: 100%;
}
